body{
    margin:0;
    padding:0;
    background-color: #eec5b7;
}

.main-container{
    padding:10px;
    font-family: 'Roboto', sans-serif;
    background-color: #eec5b7;

}

.btnMeniu {

    height:50px;
    padding-left: 30px;
    padding-top: 8px;

}

.btnMeniu a{

    display: inline-block;
    border: none;
    color: white;
    background-color: #669999;
    border-radius: 3px;
    padding: 7px;
    font-size: 18px;
    height: 23px;
    /* margin-right: 30px; */
    text-decoration: none;

}

.numeProdus h2{



}

.container{



}

.imgPreparat{

    float: left;
    width: 298px;

}


.imgPreparat img{



}
