
body{
    padding: 0;
    margin:0;
    height:100vh;
    /* padding-top:100px; */
}

.header a{
    color:#a5a573;
}

.titlu h1{
    font-family: 'Raleway', sans-serif;
}
.container{
    width:80%;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}

/* nu apar sagetele */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  /* loading */
#overlay2 {

    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

.tabelProduse{

    display:flex;
    justify-content: center;
    
}

.tabelProduse table{
    border-radius: 5px;
}

.tabelProduse thead{
    font-size:21px;
    font-weight: 300;
    letter-spacing: 1px;
}

.tabelProduse thead td{
    border-right:1px solid #008ed0;

}

.tabelProduse table td{
    padding:8px 38px;
    
}
.tabelProduse table td:nth-child(1){
    border-left:1px solid #008ed0;
}


.inpQ{
    display: flex;
    justify-content: center;
    margin-bottom:3px;
}
.tabelProduse table input{
    width:50px;
    padding:3px;
    font-size:16px;
    border-radius: 5px;
    border: 1px solid #e6e6ff;
    text-align: center;
}

.btnsQ{
    display:flex;
    justify-content: center;
}

.btnsQ div{
    background-color:rgb(235, 228, 228);
    border-radius: 3px;
    border:none;
    margin-left:3px;
    padding: 2px 9px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
}

.btnsQ div:hover{
    background-color:rgb(236, 232, 232);
    cursor: pointer;
}

.tabelProduse thead{
    background-color:#e6e6ff;
}

.tblBod tr:nth-child(odd){
    background-color:#ccc;
}
.tblBod tr td{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #008ed0;
    border-right:1px solid #008ed0;
}
.tblBod img{
    width:40px;
    height:40px;
}

.tblBod #btnStergere button{
    background-color: #e41d34;
    border: none;
    border-radius: 6px;
    padding: 9px;
    color: #fff;
}

.tblBod #btnStergere button:hover{
    background-color: #d65866;
    cursor: pointer;
}

/* total */
.total{
    display: flex;
    padding-left:30px;
    margin-top:10px;
    flex-direction: row-reverse;
}

.cartonasTotal{
    display: inline-block;
    background-color: #fcf8e3;
    border:1px solid #fbeed5;
    width:35%;
    border-radius: 5px;
    padding:10px;
}
.cartonasTotal div{
    margin-bottom:20px;
    border-bottom:1px dotted #008ed0;
}

.tva span{
    font-weight: 300;
    font-size:18px;
    letter-spacing:1px;
}

#tvaNr{
    font-weight: 500;
    font-size:21px;
    margin-left:30px;
}

.totalFinal span{
    font-weight: 300;
    font-size:18px;
    letter-spacing:1px;
}
#totalFinalNr{
    font-size:30px;
    font-weight: 700;
    color:#244196;
    margin-left:30px;
}


.btnCos{
    display:flex;
    flex-flow: row;
}
.btnCos button{
    margin-bottom:10px;
    margin-left:8px;
}
.btnCos #empty{
    font-size:12px;
    border:1px solid #c2b9b3;
    letter-spacing:1px;
    background-color:#ebebeb;
    color:#000;
    border-radius:5px;
    width:100px;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.btnCos #empty:hover{
    cursor: pointer;
    background-color:hsl(240, 3%, 95%);
}

.btnCos #buy{
    height:30px;
    font-size:12px;
    border:1px solid #ff4d4d;
    letter-spacing:1px;
    background-color:#ff3333;
    color:#fff;
    border-radius:5px;
    width:100px;

}

.btnCos #buy:hover{
    cursor: pointer;
    background-color:#fa5353;
}

/* subsol */

.subsol{
    position: absolute;
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    height:50px;
    width:100%;
    background-color:#1f1f14;
    text-align: center;
    bottom:0;
}

.subsol .mesaj{
    display: inline-block;
    color: #ad3e23;
    margin:10px auto;
    
}

.subsol p{
    display: inline-block;
    margin:0 auto;
    font-size:14px;
    font-weight: 300;
}

@media screen and (max-width:1000px){
    .container{
        width:60%;
    }
}

@media screen and (max-width:915px){
    .tabelProduse table td{
        padding:8px 5px;
    }
}

@media screen and (max-width:760px){

    .tabelProduse table td{
        padding:8px 10px;
        
    }  
    .cartonasTotal{
        width:100%;
    }
}

@media screen and (max-width:579px){
    .tabelProduse table td{
        padding:2px 2px;
    }
}

@media screen and (max-width:414px){
    .tabelProduse table td{
        padding:1px 0;
        
    } 
    .cartonasTotal{
        width:100%;
    }
}

@media screen and (max-height:414px){
    .subsol{
        position: initial;
    }
}
