body{
    margin:0;
    padding:0;
}

.lista-elevi{
    display: inline-block;
    height:100vh;
    background-color:#5ea;
    font-family: 'Roboto', sans-serif;
    width:100%;
}


.lista-elevi h1{
    margin:0;
    font-weight: 300;
    border-bottom:1px solid #a6b894;
    width:200px;
}

.form-input{

    margin-top:20px;

}

/* titlu note */

#numeElev{

    font-weight: 300;

}

/* lista note */

.lista-note{
    font-family: 'Roboto', sans-serif;
    width:50%;
    background-color:teal;
    float:right;
    height:100vh;
    display:none;
}

/* tabel */

.tbl{

    width:100%;

}

.tblNote{
    margin:auto;
}


/* butoanele de sortare */


.tabelElevi span{

    background-color: #4286f4;
    padding: 2px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;

}

.sortareDivNote span{

    background-color: #598f24;
    padding: 2px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}